/* import fonts chữ => Những máy k có sẵn sẽ k bị lỗi font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

html {
    font-family: Montserrat sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #243238;
	background-color: #ffffff;
}

:root {
    --main-color-blue: #4654A3;
    --main-color-lightblue: #6973ad;
    --main-color-darkblue: #270949;
    --main-color-gray: #404044;
    --main-color-orange: #ff914d;
    --main-color-lightorange: #f19e6a;
}


/* Navigation Bar */

.ml-auto {
    margin-left: auto;
}

.navbar {
    padding: 0 12px;
    background-color: rgba(70, 84, 163, 0.9) !important;
    letter-spacing: 0.3px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-item a {
    color: white !important;
    line-height: 42px;
}

.navbar .nav-item a:hover {
    color: white !important;
    background-color: var(--main-color-lightblue);
}

.navbar .dropdown-menu {
    background-color: var(--main-color-lightblue);
}

.navbar .dropdown-menu a {
    color: white !important;
}

.navbar .dropdown-menu a:hover {
    background-color: #848ec7bb;
}

.navbar .btn {
    border: 2px solid white;
    margin: 9px 8px;
}

.navbar .btn a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar .btn:hover a {
    color: var(--main-color-blue);
}


/* Contact Menu */

.navbar .dropdown-contact-menu .dropdown-toggle::after{
    display: none;
}

.navbar .dropdown .dropdown-toggle .contact-icon {
    color: white;
    font-size: 30px;
    line-height: 58px;
}

.navbar .dropdown .dropdown-toggle .contact-icon:hover {
    color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu-end {
    background-color: var(--main-color-orange);
}

.navbar .dropdown-menu-end a:hover {
    background-color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu h6 {
    color: white;
    text-align: center;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
    opacity: 0.8;
}

.navbar .dropdown .dropdown-menu .dropdown-item:hover {
    opacity: 1;
}

.navbar .dropdown .dropdown-menu .btn-contact {
    margin-left: 22px;
    font-weight: 500;
}

.navbar .dropdown .dropdown-menu .btn-contact:hover {
    color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu .list-icon-contact {
    text-align: center;
}

.navbar .dropdown .dropdown-menu .icon-link-contact {
    display: inline;
    padding: 4px 6px;
    font-size: 20px;
}

.navbar .navbar-toggler {
    float: left;
}


/* Carousel */

.carousel .carousel-inner .carousel-caption {
    position: absolute;
    top: 40%;
}

.carousel-caption h1 {
    text-shadow: 5px 5px 8px #000;
}

.carousel-caption p {
    text-shadow: 4px 4px 8px #000;
    font-size: 17.5px;
}

.carousel .carousel-inner .btn-outline-light {
    border: 2px solid white;
}

.carousel .carousel-inner .btn-outline-light a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.carousel .carousel-inner .btn-outline-light:hover a {
    color: var(--main-color-blue);
}

.carousel .carousel-inner .btn-primary {
    font-weight: 500;
    padding: 9px 16px;
}

@media (max-width: 768px) {
    .carousel {
        top: 58px;
    }
}


/* Covid Data */

.container-section #the-line {
    width: 100%;
    border-bottom: 3px solid rgb(190, 190, 190);
    margin: 0 0 24px;
}

.container-section {
    margin: 36px 34px;
}

.container-section .day-update {
    color: var(--main-color-orange);
    font-weight: 500;
}

.container-section .case-data {
    border-radius: 10px;
    margin: 8px 12px;
    padding: 4px 16px;
    color: white;
}

.container-section .case-data p {
    margin: 8px 8px;
    font-weight: 500;
    font-size: 18px;
}

.container-section .case-infection {
    background-color: rgba(216, 49, 49, 0.9);
}

.container-section .case-cured {
    background-color: rgba(52, 179, 69, 0.9);
}

.container-section .case-death {
    background-color: rgba(99, 98, 98, 0.9);
}

