/* import fonts chữ => Những máy k có sẵn sẽ k bị lỗi font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/** MAIN **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

html {
    font-family: Montserrat sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #243238;
	background-color: #ffffff;
}

::selection{
    color: #fff;
    background: #4654A3;
}

:root {
    --main-color-blue: #4654A3;
    --main-color-lightblue: #6973ad;
    --main-color-darkblue: #270949;
    --main-color-gray: #404044;
    --main-color-darkgray: #243238;
    --main-color-orange: #ff914d;
    --main-color-lightorange: #f19e6a;
}


ul {
    margin: 0;
    padding: 0;
}

.btn-main {
    color: white;
    background-color: var(--main-color-blue);
    border: none;
}

.btn-main:hover {
    background-color: var(--main-color-lightblue);
}


/** Navigation Bar **/

.ml-auto {
    margin-left: auto;
}

.navbar {
    padding: 18px 18px 0;
    font-weight: 500;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all .8s ease;
}

.nav-sticky {
    padding: 0 12px;
    background-color: rgba(70, 84, 163, 1) !important;
    box-shadow: 2px 2px 15px rgb(78, 72, 87);
}

.nav-sticky .navbar-brand img {
    height: 40px !important;
}

.navbar .navbar-collapse a {
    text-shadow: 4px 4px 10px #000;
    font-size: 17px;
}

.nav-sticky .navbar-collapse a {
    text-shadow: none;
}

.navbar .nav-item {
    margin-top: 9px;
}

.navbar .nav-item .nav-link {
    padding-bottom: 15px;
    position: relative;
    color: white !important;
}

/* animation border bottom */
    .navbar .nav-item .nav-link:before {
        content: '';
        position: absolute;
        height: 4px;
        width: 0;
        bottom: 0;
        background-color: var(--main-color-lightorange);

    /* animation center */
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease;
        
    /* animation left to right 
        transition: all 0.5s ease;    
    */
    }

    .navbar .nav-item .nav-link:hover:before {
        width: 90%;
    }

.navbar .dropdown-list {
    background-color: var(--main-color-lightblue);
    padding: 0;
    margin-top: 8px;
}

.navbar .dropdown-list li a {
    color: white !important;
    padding: 8px 16px;
}

.navbar .dropdown-list li a:hover {
    background-color: #848ec7bb;
}

.navbar .btn {
    border: 2px solid white;
    margin: 9px 8px;
}

.navbar .btn a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar .btn:hover a {
    color: var(--main-color-blue);
}


/** Contact Menu **/

.navbar .dropdown-contact-menu .dropdown-toggle::after{
    display: none;
}

.navbar .dropdown .dropdown-toggle .contact-icon {
    color: white;
    font-size: 30px;
    line-height: 58px;
}

.navbar .dropdown .dropdown-toggle .contact-icon:hover {
    color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu-end {
    background-color: var(--main-color-orange);
}

.navbar .dropdown-menu-end a:hover {
    background-color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu h6 {
    color: white;
    text-align: center;
}

.navbar .dropdown .dropdown-menu-end .dropdown-item {
    opacity: 0.8;
    color: white;
}

.navbar .dropdown .dropdown-menu .dropdown-item:hover {
    opacity: 1;
}

.navbar .dropdown .dropdown-menu .btn-contact {
    margin-left: 22px;
    font-weight: 500;
}

.navbar .dropdown .dropdown-menu .btn-contact:hover {
    color: var(--main-color-orange);
}

.navbar .dropdown .dropdown-menu .list-icon-contact {
    text-align: center;
}

.navbar .dropdown .dropdown-menu .icon-link-contact {
    display: inline;
    padding: 4px 6px;
    font-size: 20px;
}

.navbar .navbar-toggler {
    float: left;
}

@media (max-width: 992px) {
    .navbar {
        top: 0;
        padding: 0;
        background-color: rgba(70, 84, 163, 1) !important;
    }
    .navbar .navbar-brand img {
        height: 38px !important;
    }
    .navbar .dropdown-contact-menu {
        display: none;
    }
    .navbar a {
        font-size: 20px;
    }
    .navbar .nav-link {
        margin-top: 12px;
        padding-left: 8px;
    }
    .navbar .btn-heading {
        margin-bottom: 24px;
        margin-top: 24px;
        padding: 8px 24px;
    }
    .navbar .btn-navbar-menu {
        padding: 8.5px 0;
    }
    .navbar .navbar-toggler {
        color: rgb(255, 255, 255);
        border: none;
        padding: 0 8px;
    }
    .navbar .navbar-toggler .nav-icon .bi {
        font-size: 40px;
    }
    .navbar .nav-item .nav-link:before {
        position: relative;
    }
    .navbar .nav-item .nav-link:hover {
        background-color: var(--main-color-lightorange);
    }
}


/** Carousel **/

.carousel {
    
    background-color: black;
}

.carousel .carousel-inner img {
    opacity: 0.7;
}

.carousel .carousel-inner .carousel-caption {
    position: absolute;
    top: 40%;
}

.carousel-caption h1 {
    text-shadow: 5px 5px 8px #000;
}

.carousel-caption p {
    text-shadow: 4px 4px 8px #000;
    font-size: 17.5px;
}

.carousel .carousel-inner .btn-main a {
    text-decoration: none;
    color: white;
}

.carousel .carousel-inner .btn-outline-light {
    border: 2px solid white;
}

.carousel .carousel-inner .btn-outline-light a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.carousel .carousel-inner .btn-outline-light:hover a {
    color: var(--main-color-blue);
}

.carousel .carousel-inner .btn-primary {
    font-weight: 500;
    padding: 9px 16px;
}

@media (max-width: 900px) {
    .carousel .carousel-inner img {
        margin-top: 58px;
    }
}
@media (max-width: 500px) {
    .carousel .carousel-inner {
        display: none;
    }
}


/** About Us **/

/* Container-section & Content-section */

.container-section {
    max-width: 1414px;
    margin: auto;
}

.container-section #the-line {
    width: 100%;
    border-bottom: 3px solid rgb(190, 190, 190);
    margin-bottom: 50px;
}

.content-section {
    margin: 50px 24px;
}

@media (max-width: 768px) {
    .container-section {
        margin: 0 12px;
    }
    .content-section {
        margin: 30px 18px;
    }
}

@media (max-width: 500px) {
    .about-us {
        margin-top: 58px;
    }
}

/* About Project */



/* Team members */

.team-members #member-list .member {
    padding-top: 24px;
}

.team-members #member-list .member .member-avatar {
    background-color: black;
    overflow: hidden; /* ẩn vùng ảnh bị thừa khi zoom ra */
    position: relative;
    border-radius: 4px;
}

.team-members #member-list .member .member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ảnh luôn luôn bao hết phần block cha */
    transition: all 1s; /* animation */
}

.team-members #member-list .member .member-avatar:hover img {
    /* Zoom animation */
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    opacity: 0.5;
}

    /* Contact Hover */
    #member-list .member-avatar .contact-hover{
        position: absolute;
        top:20px;
        left:20px;
        right:20px;
        bottom:20px;
    }
    #member-list .member-avatar .contact-hover::before{
        content: '';
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(0,1)
    }
    #member-list .member-avatar:hover .contact-hover:before{
        transform: scale(1,1)
    }
    #member-list .member-avatar .contact-hover::after{
        content: '';
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(1,0)
    }
    #member-list .member-avatar:hover .contact-hover:after{
        transform: scale(1,1)
    }
    .contact-caption{
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        z-index:1;
        text-align: center;
        opacity:0;
        transition: 0.5s;
    }
    .member-avatar:hover .contact-caption{
        opacity: 1;
    }
   .contact-caption h5{
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
    }
    /* 
   .contact-caption p{
        color: #fff;
        margin:20px 0 0;
        padding:0;
        font-size: 15px;
    }
     */

.team-members #member-list .member .member-name {
    font-size: 24px;
    font-weight: 700;
}

.team-members #member-list .member {
    font-size: 18px;
}


/** Content **/

/* Pandemic Data */

.pandemic-data .day-update {
    color: var(--main-color-orange);
    font-weight: 500;
}

.pandemic-data .case-data {
    border-radius: 10px;
    margin: 8px 12px;
    padding: 4px 16px;
    color: white;
}

.pandemic-data .case-data p {
    margin: 8px 8px;
    font-weight: 500;
    font-size: 18px;
}

.pandemic-data .case-infection {
    background-color: rgba(216, 49, 49, 0.9);
}

.pandemic-data .case-cured {
    background-color: rgba(52, 179, 69, 0.9);
}

.pandemic-data .case-death {
    background-color: rgba(99, 98, 98, 0.9);
}

.pandemic-data .detail-data-button {
    margin: 12px 12px 0;
}

.pandemic-data .detail-data-button .btn {
    border-radius: 10px;
    font-weight: 500;
}

/* Pandemic News */

.pandemic-news .news-classify i {
    color: var(--main-color-orange);
}

.pandemic-news a {
    text-decoration: none;
    color: var(--main-color-darkgray);
}

.pandemic-news a:hover {
    color: var(--main-color-blue);
}

.pandemic-news .news-classify {
    padding-bottom: 16px;
}

.pandemic-news .news-image {
    overflow: hidden; /* ẩn vùng ảnh bị thừa khi zoom ra */
    border-radius: 4px;
}

.pandemic-news .news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ảnh luôn luôn bao hết phần block cha */
    transition: all 1s; /* animation */
}

.pandemic-news .news-content:hover img {
    /* Zoom animation */
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.pandemic-news .news-video-content {
    padding-bottom: 12px;
}

.pandemic-news .news-video-content iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.pandemic-news .news-video-content:hover iframe {
    /* Zoom animation */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Pandemic Prevention: Nguyên */




/* Pandemic Process: Trang 
*/
#main{

}

#main-heading{
    
}

/* tiêu đề, khung header*/
#header{

    height: 70px;
    width: 100%;
    background-color:rgba(70, 84, 163, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    
}

#home{
    margin-top: 600px;
    margin-left: 30px;
    line-height: 70px;
    
}
#main #content{
height: 1000px;
width: 1080px;
/* background-color: #ff914d; */
float: right;
min-height: 400px;
}


#box-nav{
    z-index: 10000;

}

#nav-heading {
    margin-top: 100px;
    z-index: 10000;

}
/*tạo nav*/
#nav-heading li{

    /* display: inline-block; */
    text-align: center;

}



#nav-heading li a{ /*chỉnh màu + căn giữa nav*/
    color: white;
    text-decoration: none;
    line-height: 60px;/*cho c.cao chữ = c.cao header để căn giữa*/
    padding: 0 40px;
    display: inline-block;

}

#nav-heading li:hover a{
    color: black;
    background-color: #ccc;

}

#box-nav{
    height: 500px;
    width: 178px;
    background-color: rgba(70, 84, 163, 0.9);
}






#content{



}
#content1.news-content-1{
    height: 800px;
    width: 800px;
    position: relative;
}
.news-content-1{
    height: 200px;
    width: 450px;
    margin-left: 200px;
    display: inline-block;
    margin-left: 50px;

    }

.news-content-2{
        height: 100px;
        width: 200px;
        display: inline-block;

        
    }

#content1 h1{
    text-align: center;
    margin-bottom: 14px;
}    















#footer{
    background-color: black;
    width: 1000px;
    height: 60px;
    color: white;

}







/* Pandemic Variations: Trọng Nghĩa */




/* Pandemic Vaccines: Văn Nghĩa */

table{
    border:1px solid black;
  }
  th{
    border:1px solid black;
  }
  td{
    border:1px solid black;
  }
  table, th, td{
    border:1px solid #ccc;
  }
  table{
    border-collapse:collapse;
  }
  tr:hover{
    background-color:#ddd;
    cursor:pointer;
  }


/* Pandemic At Home: Việt Anh */
#pandemic-at-home .box .btn {
    background-color: var(--main-color-blue);
    color: #fff;
    font-size: 18px;
}

#pandemic-at-home .box .btn:hover {
    background-color: var(--main-color-lightblue);
}

/*** FOOTER ***/

.page-footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    color: #d3d3d3;
    background-color: #303036;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-footer .footer-content {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; 
}

.page-footer .footer-content .footer-section {
    margin-right: 30px;
}

.page-footer .footer-content .footer-section.footer-about {
    width: 40%;
}

.page-footer .footer-content h2 {
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 22px;
}

.page-footer .footer-content h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: var(--main-color-orange);
}

.footer-about .footer-logo {
    position: relative;
    margin-bottom: 20px; 
}

.footer-about .media-icons {
    margin-top: 30px;
    display: flex;
}

.footer-about .media-icons a {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.footer-about .media-icons .fa-github {
    font-size: 42px;
}

.footer-about .media-icons a:nth-child(1) {
    background: #4267B2;
}

.footer-about .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.footer-about .media-icons a:nth-child(2) {
    background: #1DA1F2;
}
  
.footer-about .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.footer-about .media-icons a:nth-child(3) {
    background: #E1306C;
}

.footer-about .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.footer-about .media-icons a:nth-child(4) {
    background: #0077B5;
}

.footer-about .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.footer-about .media-icons a:nth-child(5) {
    color: rgb(255, 70, 70);
    background: #fff;
}

.footer-about .media-icons a:nth-child(5):hover {
    color: #fff;
    background: rgb(255, 70, 70);
}

.footer-links {
    position: relative;
    width: 25%;
    padding-left: 60px;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.4s ease;
}

.footer-links ul li a:hover {
    padding-left: 8px;
    color: white;
}

.footer-contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
    padding-left: 30px;
}

.footer-contact .info {
    position: relative;
}

.footer-contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.footer-contact .info li span:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-right: 10px;

}

.footer-contact .info li span {
    color: #999;
}

.footer-contact .info li a {
    color: #999;
    text-decoration: none;
    transition: all 0.4s ease;
}

.footer-contact .info li a:hover {
    color: white;
    padding-left: 8px;
}

.page-footer .footer-copyright {
    position: absolute;
    background-color: #181818;
    color: #999;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media (max-width: 992px) {
    .page-footer {
        padding: 30px;
    }
    .footer-logo img {
        height: 46px;
    }
}

@media (max-width: 782px) {
    .footer-logo img {
        height: 42px;
    }
    .page-footer .footer-content {
        flex-direction: column;
    }
    .page-footer .footer-content .footer-section {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .footer-links {
        padding-left: 30px;
    }
    .page-footer .footer-content .footer-section.footer-about,
    .footer-links,
    .footer-contact {
        width: 100%;
    }
    .footer-copyright {
        padding: 8px 40px;
    }
}
